body,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

body {
  background-color: #e5e5e5;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container {
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  position: relative;
}

.login-area {
  box-sizing: border-box;
  width: 350px;
  height: 140px;
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  left: 25px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.login-area p:first-child {
  position: absolute;
  width: 215px;
  height: 15px;
  left: 16px;
  top: 20px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* identical to box height */
  line-height: 15px;

  color: #000000;
}

.login-area button:first-of-type {
  position: absolute;
  width: 318px;
  height: 40px;
  top: 50px;
  left: 16px;
  background-color: #711bff;
  border-radius: 4px;
}

.login-area button:first-of-type::before {
  /* weniv-logo */
  content: "";
  position: absolute;
  width: 60px;
  height: 18px;
  left: 104px;
  top: 10px;
  background-image: url(./images/weniv-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.login-area button:first-of-type::after {
  content: "로그인";
  position: absolute;
  width: 34px;
  height: 15px;
  left: 170px;
  top: 13.5px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  /* identical to box height */
  line-height: 15px;

  text-align: center;
  color: white;
}

.login-area a:nth-of-type(1)::before {
  /* icon-lock */
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -2px;
  right: 37px;
  background-image: url(images/icon-lock.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-area a:nth-of-type(1) {
  /* 아이디 */
  position: absolute;
  width: 34px;
  height: 15px;
  left: 36px;
  top: 107px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* identical to box height */
  line-height: 15px;

  color: #767676;
}

.login-area a:nth-of-type(2)::before {
  /* 비밀번호찾기 왼쪽 구분선 */
  content: "";
  position: absolute;
  width: 4px;
  height: 14px;
  top: -1px;
  left: -8px;
  border-left: 1px solid #767676;
}

.login-area a:nth-of-type(2) {
  /* 비밀번호찾기 */
  position: absolute;
  width: 67px;
  height: 15px;
  left: 82px;
  top: 107px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* identical to box height */
  line-height: 15px;

  color: #767676;
}

.login-area a:nth-of-type(3)::before {
  /* icon-user */
  content: "";
  background-image: url(./images/icon-user.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 50px;
  top: -2px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* identical to box height */
  line-height: 15px;
}

.login-area a:nth-of-type(3) {
  /* 회원가입 */
  position: absolute;
  width: 45px;
  height: 15px;
  left: 289px;
  top: 107px;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  /* identical to box height */
  line-height: 15px;

  color: #767676;
}
